@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}



/*********************/
/* DEFAULT STYLES */
/*********************/
.main-header-content button, button {
	padding: 10px 30px;
	margin-top: 20px;
	background-color: transparent; 
	border: none;
	border: 3px solid var(--ct-yellow);
	border-radius: 3px;
	outline: none;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--ct-yellow);
	cursor: pointer;
	outline: none;
}

.main-header-content button:hover, button:hover {
	border: 3px solid var(--ct-lite-blue);
	color: var(--ct-lite-blue);
}

h1 {
	font-size: 4.6em;
	text-transform: uppercase;
	color: var(--ct-white)!important;
	text-shadow: 2px 2px 5px rgba(30, 30, 30, 1);
}





/*********************/
/*      COLORS       */
/*********************/
:root {
	--ct-white: #ffffff;
	--ct-blue: #273c75;
	--ct-lite-blue: #40739e;
	--ct-yellow: #e1b12c;
	--ct-lite-grey: #dcdde1;
	--ct-dark-grey: #2B2B2B;
}



/*********************/
/* NAVIGATION STYLES */
/*********************/
nav {
	z-index: 1;
	width: 100%;
	height: 85px;
	padding: 0 20px 0 10px;
	position: fixed;
	background-color: var(--ct-dark-grey);
	border-bottom: 1px solid var(--ct-lite-grey);
	display: flex;
	justify-content: space-between;
	color: var(--ct-white);
	text-transform: uppercase;
}

.brand {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.brand h1 {
	font-size: 22px;
	color: var(--ct-yellow)!important;
}

.brand img {
	width: 80px;
}

.nav-bar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transform: translateX(480px);
}

.nav-bar ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.nav-bar ul li {
	padding-left: 20px;
}

.nav-bar ul a, .brand a {
	text-decoration: none;
	color: var(--ct-white);
}

.nav-bar ul a:hover, .brand a:hover {
	text-decoration: none;
	color: var(--ct-yellow);
}

#nav-toggle {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 2em;
	color: var(--ct-white);
	text-decoration: none;
}




/*********************/
/*     HOME PAGE     */
/*********************/
.main-header {
	width: 100%;
	height: 100vh;
	background-image: url(../images/bar-01.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-header-content {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	color: var(--ct-white);
}

.main-header-content h1{
	/*max-width: 700px;*/
	font-family: arial;
	font-size: 5.5em;
	font-weight: 800;
}

.ct-blue {
	color: var(--ct-lite-blue);
}

.home-containers {
	width: 100%;
	height: 100vh;
}

.to-menu {
	background-color: var(--ct-dark-grey);
	background-image: url(../images/cocktail-01.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

.to-reserve {
	background-color: var(--ct-blue);
	background-image: url(../images/food-01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.to-about {
	background-color: var(--ct-lite-blue);
	background-image: url(../images/cocktail-02.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

.home-containers-inner {
	padding: 40px;
	width: 80%;
	height: 100%;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home-containers-inner img {
	width: 400px;
}


.home-containers-inner h1 {
	max-width: 600px;
}






/*********************/
/*     MENU PAGE     */
/*********************/
.menu {
	width: 100%;
	height: 100vh;
	background-image:url(../images/bar-drinks.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu h1 {
	max-width:600px;
}

.ingredients {
	font-style: italic;
	color: #e1b12c;
}

.h1 {
	font-size: 2rem;
}

.app h2, .salad h2, .signature h2 {
	font-size: 1.5rem;
	padding-bottom: 25px;
}

.app, .salad, .signature {
	width: 80%;
	margin: 120px auto; 
	text-align: center;
}

.salads {
	width: 100%;
	height: 500px;
	background-image:url(../images/food-01.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.drinks {
	width: 100%;
	height: 500px;
	background-image:url(../images/cocktail-02.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}





/*********************/
/* RESERVATIONS PAGE */
/*********************/
header {
	width:100%;
	height:100vh;
	background-color: lightgrey;
	background-image: url("../images/cocktail-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.res-h1 h1{
	max-width: 600px;
	/* font-size: 30px; */
	text-transform: uppercase;
	color: var(--ct-white);
}

.res-header-copy {
	max-width: 500px;
	font-size: 10px;
	text-transform: uppercase;
	color: var(--ct-white);
}

#map {
	width:auto;
	height:350px;
}

form{
	width:auto;
	height:700px;
	background-color:white;
}
.radio{
	text-align:center;
	margin:10px;
	padding:10px;
}

.radio label {
	margin: 0 15px;
}

.form-box {
	width:50%;
	margin:1% 25% 1% 25%;
	text-align:left;
}

.form-box label {
	display: flex;
	align-items: center;
}

.form-box label > div {
	flex-basis: 70px;
}

.form-box input {
	flex: 1 1;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: var(--ct-yellow);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea{
	flex: 1 1;
	height:150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: var(--ct-lite-grey);
}



/*********************/
/*    ABOUT PAGE     */
/*********************/
.row {
	height: auto;
	min-height:400px;
    display: flex;
    align-items:flex-start;
    max-width:1000px;
    width:80%;
    margin:75px auto;
}

/* 2 columns that sit next to each other*/
.column {
    display: flex;
    align-items:center;
    width:80%;
    margin: 0 auto;
}

.column p, .column2 p{
	font-size:22px;
	padding:20px;
}

.background-image-about-top {
	width: 100%;
	height: 100vh;
	background-image: url(../images/about1.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.main-header-content .about-1 {
	margin-bottom: 20;
	text-align: center;
}

.about-history p {
	padding: 20px 0;
	font-size: 30px;
	color: var(--ct-white);
	text-shadow: 2px 2px 5px rgba(30, 30, 30, 1);
}

.background-image-about-bottom {
	width: 100%;
	height: 100vh;
	background-image: url(../images/about2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.background-image-about-bottom h2 {
	padding: 20px;	
}

.background-image-about-bottom p {
	padding: 20px;
	color: white;
}




/*********************/
/*   FOOTER STYLES   */
/*********************/
footer {
	width: 100%;
	height: 250px;
	padding: 0 20px 30px 10px;
	background-color: var(--ct-dark-grey);
	border-bottom: 1px solid var(--ct-lite-grey);
	display: block;
	justify-content:space-between;
	color: var(--ct-white);
	text-transform: uppercase;
}

footer img{
	width: 80px;
}

.footer-wrapper{
	width:80%;
	margin:0 auto;
	display:flex;
	justify-content:center;
	padding:40px 0;
}
#footer-container{
	display:flex;
}
.footer-nav {
	margin-right: 15px;
}
.address{
	margin-left:15px;
}
.footer-nav ul {
	list-style: none;
}
div ul li:not(:first-child) {
		padding-top:5px;
}
	
.footer-nav ul li {
	padding-left: 30px;
}

.footer-nav ul a{
	text-decoration: none;
	color: var(--ct-white);
}

p.copyright{
	text-align:center;
	color: var(--ct-yellow);
}

.copyright {
	padding-bottom: 30px;
}



/*********************/
/*   MEDIA QUERIES   */
/*********************/
@media screen and (min-width: 650px) {
	nav {
		padding: 0 30px 0 20px;
	}
	#nav-toggle {
		display: none;
	}

	.nav-bar {
	    transform: translateX(0);
	}
}


@media screen and (max-width: 1400px) {
	.main-header-content h1, h1 {
		font-size: 4em;
	}
}


@media screen and (max-width: 900px) {
	.main-header-content h1, h1 {
		font-size: 3em;
	}
}


@media screen and (max-width: 700px) {
	.main-header-content h1, h1 {
		max-width: 400px;
		font-size: 2em;
	}
}
